$font-stack:    'PT Sans', Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

$social-sprite-layout: smart;
$social-sprite-dimensions: true;
@import "sprites/social/*.png";
@include all-social-sprites;

$icons-sprite-layout: smart;
$icons-sprite-dimensions: true;
@import "sprites/icons/*.png";
@include all-icons-sprites;

